*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.light{
    background-color: dodgerblue;
    font-size: 2rem;
}
.dark{
    background-color: #212121;
    font-size: 2rem;
    color: white;
}